%%% -*- mode: erlang -*-

%% Require OTP version R15 or 17
{require_otp_vsn, "R15|17"}.

%% Depends
{deps_dir, "../"}.
{deps, [{lager, ".*"}]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors
            , {parse_transform, lager_transform}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
